.embla {
  max-width: 1440px;
  margin: auto;
  --slide-height: 20rem;
  --slide-spacing: 1rem;
  --slide-size: 28%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem gray;
  width: 3rem;
  height: 0.3rem;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem white;
}
.embla__slide {
  transition: opacity 0.3s ease-in-out;
}
.embla__slide:not(.is-snapped) {
  opacity: 0.16;
}
